.pokemon-feed {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px, 1fr));
    gap: 1rem;
    .card {
        padding: 10px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        .text {
            width: 100%;
            text-align: center;
        }
        .pokeId {
            font-size: 0.8rem;
            margin-right: 5px;
            font-weight: 400;
        }
        .name {
            text-transform: capitalize;
        }
    }
}