// * {
//     margin: 0;
//     padding: 0;
//     //font nog importeren
// }

// body {
//     background-color: red;
//     //achtergrond nog van kleur veranderen
// }

// .container {
//     width: 90%;
//     margin: auto;
//     padding-top: 100px;
//     display: flex;
//     .pokemonlist{
//         flex-basis: 50%;
//     }
//     .pokemoninfo {
//         flex-basis: 50%;
//     }
// }