@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

html {
    scroll-behavior: smooth;
}

input, button {
    border: none;
    outline: none;
    appearance: none;
    background: transparent;
    color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

.maxWidth {
    max-width: 1100px;
    margin: 0 auto;
}

.btn {
    background-color: aquamarine;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border: 5px;
    cursor: pointer;
}

.pagination {
    margin-block: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    .button {
        min-width: 100px;
    }
}